.movieContainer {

    padding: 5%;
}

.movieImage {
    object-fit: cover;
    width: 100%;
    height: auto;
    border: black;
    border-width: 7px;
    border-style: solid;
}

#trailor {
    text-decoration: none;
    color: white;
    background-color: rgb(177, 172, 160);
}

.movieRow {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.movieCard {
    border: 2px;
    padding: 10px;
    margin: 1em;
    border-style: solid;
    background-color: beige;
}