.star {
    /* max-width: 100%; */
    /* height: auto; */
    max-height: calc(50vh + 180px);
    width: 35px;
    height: 35px;
    display: flex;
    display: inline;
}

.starRow {
    display: flex;
    flex-direction: row;
}
/* 
.sizeBtn {
    display: flex;
    flex: 0 0 20%;
}

#starImg {
    display: flex;
    flex: 0 0 80%;
} */

/* .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
} */

.starsContainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
}